@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskBase</title>
    <link href="~/_content/TaskBase.Components/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/_content/TaskBase.Components/css/site.css" rel="stylesheet" />
    <link href="~/_content/TaskBase.Components/lib/dragula/dragula.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-dark overflow-hidden" id="dashboard-layout">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">

                <a class="navbar-brand d-flex flex-row align-items-center text-white" asp-area="" asp-page="/Index">
                    <img style="width:40px" src="~/_content/TaskBase.Components/logo/50_base_color.svg" />
                    <div class="h6 ml-1 mt-2 m-0" style="height:fit-content;">
                        <p class="m-0 p-0">Task</p>
                        <p class="m-0 p-0">Base</p>
                    </div>
                </a>

                <vc:culture />

                <partial name="_LoginPartial" />

                <vc:notifications />

            </div>
        </nav>
    </header>

    <div class="container-flex px-4 overflow-hidden">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <script src="~/_content/TaskBase.Components/lib/jquery/jquery.min.js"></script>
    <script src="~/_content/TaskBase.Components/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/_content/TaskBase.Components/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/_content/TaskBase.Components/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/_content/TaskBase.Components/lib/dragula/dragula.min.js"></script>
    <script src="~/_content/TaskBase.Components/lib/autosize.js/autosize.min.js"></script>
    <script src="~/_content/TaskBase.Components/lib/microsoft-signalr/signalr.js"></script>
    <script src="~/_content/TaskBase.Components/js/signelr-configs.js" asp-append-version="true"></script>
    <script src="~/_content/TaskBase.Components/js/site.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/4c99a2880c.js" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
