@model List<TaskRowModel>

@inject IViewLocalizer Localizer


<div class="d-flex flex-row overflow-hidden w-100 rounded tabbable" id="tasks-container">

    @foreach (var row in Model)
    {

        <div class="d-flex flex-column border mr-2 p-0 rounded overflow-hidden" style="height: 80vh; width:400px; min-width:400px">

            <div class="p-2 rounded-top bg-dark" >

                <h5 class="mb-0 text-white w-50">@Localizer[row.Customize.RowName]</h5>

            </div>

            <div class="p-2 w-100 overflow-auto h-100">

                <partial name="_TaskListPartial" model="new KeyValuePair<string, List<TaskModel>>(row.RowType.ToString(), row.Tasks.ToList())" />

            </div>

        </div>

    }

    <div class="d-flex flex-column h-auto mr-2 p-0 rounded overflow-hidden" style="max-height: 75vh; min-height:75vh; min-width:355px; border: 1px dashed blue">
    </div>

</div>