@model TaskBase.Components.Models.TaskRowCustomizationModel

<div class="col-sm h-auto border mx-1 p-0 rounded overflow-hidden" style="max-height: 85vh; min-height:85vh">

    <div class="p-3 rounded-top row justify-content-around align-items-center @Model.BgColor">
        <h5 class="mb-0 text-center text-white w-50">@Model.RowName</h5>

        @if(Model.HasTaskCreationButton is true)
        {
            @await Component.InvokeAsync("Modal")
        }
    </div>

    <div class="p-3 w-auto overflow-auto" style="height:95%">

        <table class="container p-3 w-100 h-100">
            <tbody class="connectedSortable p-3">

                <tr class="card mb-3">
                    <td class="card-header">
                        <h6>Work to this project</h6>
                    </td>
                    <td class="card-body">
                        <p>You have to implement the interface.</p>
                    </td>
                </tr>

                <tr class="card mb-3">
                    <td class="card-header">
                        <h6>Work to this project</h6>
                    </td>
                    <td class="card-body">
                        <p>You have to implement the interface.</p>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

</div>