<button type="button" class="col btn btn-primary bg-info" data-bs-toggle="modal" data-bs-target="#createTaskModal" >
    &plus;
</button>

<div class="modal fade" id="createTaskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form>

                    <div class="mb-3">
                        <label for="taskTitle" class="form-label">Task Title</label>
                        <input type="text" class="form-control" id="taskTitle" aria-describedby="taskTitleHelp">
                    </div>

                    <div class="mb-3">
                        <label for="taskDescription" class="form-label">Task Description</label>
                        <textarea class="form-control" id="taskDescription"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Create</button>

                </form>
            </div>

        </div>
    </div>
</div>