
<div class="col text-center" style="color:white; font-size:1.5rem">
    <i class="fas fa-plus" data-bs-toggle="modal" data-bs-target="#createTaskModal" ></i>
</div>

<div class="modal fade" id="createTaskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form method="post" data-ajax="true" asp-controller="Tasks" data-ajax-method="post" data-ajax-mode="replace-with" data-ajax-update="#newTaskRow"
                      data-ajax-complete="closeModal()">
                    <div class="mb-3">
                        <label for="taskTitle" class="form-label">Task Title</label>
                        <input type="text" name="title" class="form-control" id="taskTitle" aria-describedby="taskTitleHelp">
                    </div>

                    <div class="mb-3">
                        <label for="taskDescription" class="form-label">Task Description</label>
                        <textarea name="description" class="form-control" id="taskDescription"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Create</button>

                </form>

            </div>

        </div>
    </div>
</div>

<script defer>
    function closeModal() {
        $('#your-modal-id').modal('hide');
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();

        enableRows();
    }
    function enableRows() {
        tabs = $(".tabbable");
        $("tbody.connectedSortable")
            .sortable({
                connectWith: ".connectedSortable",
                items: "> tr",
                appendTo: $tabs,
                helper: "clone",
                zIndex: 999990,
                start: function () { $tabs.addClass("dragging") },
                stop: function () { $tabs.removeClass("dragging") }
            }).disableSelection();
    }
</script>
