@model (Guid userId, IList<string> roles)

<div class="container row" id="@Model.Item1">

    @foreach (var role in Model.roles)
    {
        <div class="row border align-items-center p-1 m-1 rounded" style="width:fit-content;">

            <p class="w-auto p-0 m-0">@role</p>

            <form class="w-auto bg-transparent" method="post" action="Users/RemoveFromRole" data-ajax="true" asp-antiforgery="true"
                  data-ajax-update="#@Model.userId" data-ajax-mode="replace-with">
                <input type="hidden" name="userId" value="@Model.Item1" />
                <input type="hidden" name="role" value="@role" />
                <button type="submit" style="border:0;"><i class="fas fa-times w-auto"></i></button>
            </form>

        </div>
    }

</div>