@page "{handler?}"
@model TaskBase.RazorPages.Pages.TasksModel

@{
    ViewData["Title"] = "My Tasks";
    Layout = "_DashboardLayout";
}

@Html.AntiForgeryToken()

<div class="overflow-auto pb-2">

    <vc:modal />

    <vc:tasks />

</div>

