@page "{handler?}"
@model TaskBase.RazorPages.Pages.TasksModel

@{
    ViewData["Title"] = "My Tasks";
    Layout = "_DashboardLayout";
}

@Html.AntiForgeryToken()

<div class="pb-2 position-relative" style="overflow:visible;">

    <vc:modal />

    <vc:tasks />

    <div class="position-absolute h-100 border bg-dark rounded transition" style="min-width: 500px; max-width:500px; right: -100%; top: 0; z-index: 100;" id="details-modal">
        <div class="d-flex p-2 border-bottom">
            <i onclick="closeDetailsModal()" class="fas fa-times"></i>
        </div>

        <div class="h-auto">
            <vc:task-details task-id="Guid.Empty" />
        </div>

    </div>


</div>

