@page "{handler?}"
@model TaskBase.RazorPages.Pages.TasksModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "My Tasks";
    Layout = "_DashboardLayout";
}

@Html.AntiForgeryToken()

<div class="pb-2 position-relative" style="overflow:visible;">

    <div class="d-flex flex-row border rounded align-items-center mb-3 p-1 justify-content-around" style="font-size:1.1rem; width:120px;" data-toggle="modal" data-target="#createTaskModal">
        <i class="fas fa-plus p-0 w-auto"></i>
        <p class="p-0 m-0 w-auto">@Localizer["New"]</p>
    </div>

    <partial name="_CreationModalPartialView" model="new CreateTaskModel()" />

    <vc:tasks />

    <div class="position-absolute h-100 border bg-dark rounded transition" style="min-width: 500px; max-width:500px; right: -100%; top: 0; z-index: 100;" id="details-modal">
        <div class="d-flex p-2 border-bottom">
            <i onclick="closeDetailsModal()" class="fas fa-times"></i>
        </div>

        <div class="h-auto">
            <vc:task-details task-id="Guid.Empty" />
        </div>

    </div>


</div>

