@page "{handler?}"
@model TaskBase.RazorPages.Pages.TasksModel

@using System.Security.Claims

@{
    ViewData["Title"] = "My Tasks";
    Layout = "_DashboardLayout";
    var defaultModel = new TaskDetailsModel("", "", "");
    var currentUserId = HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value;
}

@Html.AntiForgeryToken()

<div class="pb-2 position-relative" style="overflow:visible;">

    <input type="hidden" name="__NameIdentifier" value="@currentUserId" />

    <vc:modal />

    <vc:tasks />

    <div class="position-absolute h-100 border bg-dark rounded transition" style="min-width: 500px; max-width:500px; right: -100%; top: 0; z-index: 100;" id="details-modal">
        <div class="d-flex p-2 border-bottom">
            <i onclick="closeDetailsModal()" class="fas fa-times"></i>
        </div>

        <div>
            <vc:task-details model="defaultModel" />
        </div>

    </div>

    <div class="w-25 p-2" style="position:absolute; right:0px; bottom:0px" id="page-notifications">

    </div>

</div>

