@page
@model TaskBase.RazorPages.Pages.TasksModel

@{
    ViewData["Title"] = "My Tasks";
}

<div class="row w-100 rounded m-auto tabbable">

    @await Component.InvokeAsync("TaskRow",
        new TaskRowModel(
            new List<TaskModel>() { new TaskModel() { TaskTitle = "Test Task", TaskDescription = "This task is for testing!" } },
            new TaskRowCustomizationModel(true, "New", "bg-info")
        )
    )

    @await Component.InvokeAsync("TaskRow", new TaskRowModel(
            new List<TaskModel>(),
            new TaskRowCustomizationModel(false, "In Proggress", "bg-secondary")
        )
    )

    @await Component.InvokeAsync("TaskRow", new TaskRowModel(
            new List<TaskModel>(),
            new TaskRowCustomizationModel(false, "Closed", "bg-success")
        )
    )

</div>


@section Scripts{
    <script>

        $(document).ready(function () {

            $tabs = $(".tabbable");

            $("tbody.connectedSortable")
                .sortable({
                    connectWith: ".connectedSortable",
                    items: "> tr",
                    appendTo: $tabs,
                    helper: "clone",
                    zIndex: 999990,
                    start: function () { $tabs.addClass("dragging") },
                    stop: function () { $tabs.removeClass("dragging") }
                }).disableSelection();

        });

    </script>
}